body, html {
	background-color: #fefcfc;
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #555;
	font-weight: 400;
	scroll-behavior: smooth;
	width: 100% !important;
	height: 100% !important;
}

h1 {
	color: #333;
	font-size: 64px;
	font-weight: 800;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h4 {
	font-size: 14px;
	font-weight: 2rem;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p, li {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #888;
	letter-spacing: 1.5px;
}

p.intro {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 12px 0 0;
	line-height: 24px;
}

a {
	color: #222;
}

a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

ul, ol {
	list-style: none;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.section-title {
	margin: 40px 0 40px 0;
	padding: 50px 0 50px 0;
}

.btn-custom {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #444;
	background-color: transparent;
	border: 2px solid #444;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	border-radius: 0;
	margin-top: 20px;
	margin-right: 30px;
	transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #eee;
	background-color: #444;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background-image: url("../img/header-bg.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d5dade+100&0.5+0,0+100 */
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00d5dade', GradientType=1 ); /* IE6-9 */
}

.intro p {
	color: #444;
	margin: 10px 0 20px 0;
	font-size: 22px;
}

header .intro-text {
	padding-top: 250px;
	padding-bottom: 250px;
}

.conclusion {
	padding: 25px 0 25px 0;
}

.navbar {
	position: fixed;
	transition: 500ms;
}

.nav-link {
	font-weight: 500;
}

.about-img {
	border: 2px solid #888;
	border-radius: 2px;
	box-shadow: 12px 12px 0 1px #9B7295;
	width: 60%;
}

.about-btns {
	padding: 20px 0 0 35px;
}

.competences, .about, .exp-pro {
	background-color: #f6f6f6;
}

.edu {
	margin-top: 70px;
}

.edu-title {
	font-weight: 700;
}

/* LINE DECORATION */
.deco {
	background-color: #888;
	height: 2px;
	margin-bottom: 100px;
	margin-top: 100px;
	width: 35%;
}

.deco-comp {
	margin-top: 20px;
}

/* portfolio */
.card-overlay {
	height: 70%;
	position: relative;
	width: 100%;
}

.overlay-text {
	background-color: rgba(255, 255, 255, 0.80);
	height: 100%;
	opacity: 0;
	position: absolute;
  top: 50%;
  left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	transition: all .75s ease;
	width: 100%;
}

.card .overlay-text:hover {
	opacity: 1;
}

.btn-portfolio {
	margin-left: 7%;
	margin-top: 23%;
}

/* Formations */
.formation-logo {
	width: 50%;
}

.invisible {
	display: none;
}

/* Competences */
.illustration img {
	margin-top: -135px;
	max-width: 100%;
}

.comp i {
	font-size: 1.5rem;
}

.soft-skills-title {
	padding-top: 100px;
}

.soft-skills {
	margin-bottom: 50px;
}

/* Color Decoration */
.color-deco {
	height: 20px;
	opacity: 0.5;
	margin-bottom: -155px;
	margin-top: 50px;
	width: 40%;
}

.color-deco-edu {
	background-color: #CE8283;
}

.color-deco-comp {
	background-color: #A57492;
}

.color-deco-portfolio {
	background-color: #275E72;
}

.color-deco-exp {
	background-color: #351C58;
}

/* experiences */
.exp-img {
	width: 100%;
}

/* Sections */
#portfolio, #formations, #competences, #exp-pro, #conclusion {
	padding: 100px 0 100px 0;
}

/* Footer Section*/
#footer {
	background: #262626;
	padding: 50px 0 20px 0;
}
#footer p, #footer a {
	font-size: 15px;
	color: #666;
}
#footer a:hover {
	color: #000;
}
